In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns

In [2]:
# Import Data from https://www.kaggle.com/whitefero/nba-players-advanced-season-stats-19782016?select=NBA+Players+-+Advanced+Season+Stats+%281978-2016%29.xlsx
df_1950_2017 = pd.read_csv('1950-2017NBAStats.csv').drop(['#','blanl','blank2'],axis = 1)[:-1]
df_salary_cap = pd.read_csv('NBASalaryCapData.csv')
df_win_tots = pd.read_csv('NBAWinTotals.csv')

In [3]:
df_1950_2017['Season Start'] = df_1950_2017['Season Start'].astype(int)

In [4]:
df_1950_2017.isna().sum()

Season Start                0
Player Name                 0
 Player Salary in $     13647
Pos                         0
Age                         8
Tm                          0
G                           0
GS                       6391
MP                        486
PER                       523
TS%                        86
3PAr                     5785
FTr                        99
ORB%                     3832
DRB%                     3832
TRB%                     3053
AST%                     2069
STL%                     3832
BLK%                     3832
TOV%                     5042
USG%                     4984
OWS                        39
DWS                        39
WS                         39
WS/48                     523
OBPM                     3827
DBPM                     3827
BPM                      3827
VORP                     3827
FG                          0
FGA                         0
FG%                        99
3P                       5697
3PA                      5697
3P%                      9208
2P                          0
2PA                         0
2P%                       128
eFG%                       99
FT                          0
FTA                         0
FT%                       858
ORB                      3827
DRB                      3827
TRB                       312
AST                         0
STL                      3827
BLK                      3827
TOV                      4979
PF                          0
PTS                         0
dtype: int64

In [5]:
# Remove null values
df_win_tots.dropna(inplace = True)
df_win_tots

,Rk,Season,ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,...,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,1.0,2020.0,37.0,35.0,44.0,28.0,33.0,21.0,39.0,44.0,...,21.0,21.0,47.0,48.0,39.0,29.0,32.0,27.0,50.0,32.0
1,2.0,2019.0,20.0,48.0,35.0,22.0,23.0,19.0,43.0,46.0,...,44.0,33.0,43.0,34.0,35.0,31.0,32.0,53.0,44.0,25.0
2,3.0,2018.0,29.0,49.0,42.0,22.0,39.0,19.0,33.0,54.0,...,49.0,42.0,51.0,19.0,53.0,39.0,48.0,58.0,50.0,32.0
3,4.0,2017.0,24.0,55.0,28.0,27.0,36.0,50.0,24.0,46.0,...,48.0,25.0,52.0,21.0,49.0,27.0,47.0,59.0,48.0,43.0
4,5.0,2016.0,43.0,53.0,20.0,41.0,36.0,51.0,33.0,40.0,...,47.0,29.0,28.0,24.0,41.0,32.0,61.0,51.0,51.0,49.0
5,6.0,2015.0,48.0,48.0,21.0,42.0,48.0,57.0,42.0,33.0,...,55.0,35.0,10.0,23.0,44.0,33.0,67.0,56.0,40.0,41.0
6,7.0,2014.0,60.0,40.0,38.0,50.0,33.0,53.0,50.0,30.0,...,45.0,25.0,18.0,39.0,51.0,29.0,55.0,49.0,38.0,46.0
7,8.0,2013.0,38.0,25.0,44.0,48.0,43.0,33.0,49.0,36.0,...,59.0,23.0,19.0,48.0,54.0,28.0,62.0,48.0,25.0,44.0
8,9.0,2012.0,44.0,41.0,49.0,45.0,21.0,24.0,41.0,57.0,...,60.0,20.0,34.0,25.0,33.0,28.0,58.0,34.0,43.0,29.0
9,10.0,2011.0,40.0,39.0,22.0,50.0,7.0,21.0,36.0,38.0,...,47.0,37.0,35.0,33.0,28.0,22.0,50.0,23.0,36.0,20.0
10,11.0,2010.0,44.0,56.0,24.0,62.0,34.0,19.0,57.0,50.0,...,55.0,52.0,41.0,40.0,48.0,24.0,61.0,22.0,39.0,23.0
11,12.0,2009.0,53.0,50.0,12.0,41.0,44.0,61.0,55.0,53.0,...,50.0,59.0,27.0,54.0,50.0,25.0,50.0,40.0,53.0,26.0
12,13.0,2008.0,47.0,62.0,34.0,41.0,35.0,66.0,50.0,54.0,...,23.0,59.0,41.0,46.0,54.0,17.0,54.0,33.0,48.0,19.0
13,14.0,2007.0,37.0,66.0,34.0,33.0,32.0,45.0,51.0,50.0,...,20.0,52.0,40.0,55.0,41.0,38.0,56.0,41.0,54.0,43.0
14,15.0,2006.0,30.0,24.0,41.0,49.0,33.0,50.0,67.0,45.0,...,31.0,40.0,35.0,61.0,32.0,33.0,58.0,47.0,51.0,41.0
15,16.0,2005.0,26.0,33.0,49.0,41.0,26.0,50.0,60.0,44.0,...,35.0,36.0,38.0,54.0,21.0,44.0,63.0,27.0,41.0,42.0
16,17.0,2004.0,13.0,45.0,42.0,47.0,18.0,42.0,58.0,49.0,...,52.0,36.0,43.0,62.0,27.0,50.0,59.0,33.0,26.0,45.0

In [6]:
# Create a dictionary of salary cap info
s_cap_dic = pd.Series(df_salary_cap['Salary Cap'].values,index=df_salary_cap['Start of Season']).to_dict()
s_cap_dic

{1984: '$3,600,000 ',
 1985: '$4,233,000 ',
 1986: '$4,945,000 ',
 1987: '$6,164,000 ',
 1988: '$7,232,000 ',
 1989: '$9,802,000 ',
 1990: '$11,871,000 ',
 1991: '$12,500,000 ',
 1992: '$14,000,000 ',
 1993: '$15,175,000 ',
 1994: '$15,964,000 ',
 1995: '$23,000,000 ',
 1996: '$24,363,000 ',
 1997: '$26,900,000 ',
 1998: '$30,000,000 ',
 1999: '$34,000,000 ',
 2000: '$35,500,000 ',
 2001: '$42,500,000 ',
 2002: '$40,271,000 ',
 2003: '$43,840,000 ',
 2004: '$43,870,000 ',
 2005: '$49,500,000 ',
 2006: '$53,135,000 ',
 2007: '$55,630,000 ',
 2008: '$58,680,000 ',
 2009: '$57,700,000 ',
 2010: '$58,044,000 ',
 2011: '$58,044,000 ',
 2012: '$58,044,000 ',
 2013: '$58,679,000 ',
 2014: '$63,065,000 ',
 2015: '$70,000,000 ',
 2016: '$94,143,000 ',
 2017: '$99,093,000 ',
 2018: '$101,869,000 ',
 2019: '$109,140,000 ',
 2020: '$109,140,000 '}

In [7]:
# Create a Salary Cap column from the dictionary
df_1950_2017['Salary Cap'] = df_1950_2017['Season Start'].map(s_cap_dic)

# Standard Data Cleaning

In [8]:
df_1950_2017['Player Salary'] = df_1950_2017[' Player Salary in $ ']
df_1950_2017 = df_1950_2017.drop([' Player Salary in $ '],axis = 1)
df_1950_2017.dropna(subset = ['Player Salary'],inplace = True)
df_1950_2017['Salary Cap'] = df_1950_2017['Salary Cap'].str.replace('$','')
df_1950_2017['Salary Cap'] = df_1950_2017['Salary Cap'].str.replace(',','')
df_1950_2017['Player Salary'] = df_1950_2017['Player Salary'].str.replace('$','')
df_1950_2017['Player Salary'] = df_1950_2017['Player Salary'].str.replace(',','')
df_1950_2017['Salary Cap'] = df_1950_2017['Salary Cap'].astype(float,)
df_1950_2017['Player Salary'] = df_1950_2017['Player Salary'].astype(float)
df_1950_2017['%SalaryCap'] = df_1950_2017['Player Salary']/df_1950_2017['Salary Cap']
df_1950_2017['Player Name'] = df_1950_2017['Player Name'].str.replace('*','')
df_1950_2017.dropna(inplace = True)

<ipython-input-8-30185b17b90a>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_1950_2017['Salary Cap'] = df_1950_2017['Salary Cap'].str.replace('$','')
<ipython-input-8-30185b17b90a>:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_1950_2017['Player Salary'] = df_1950_2017['Player Salary'].str.replace('$','')
<ipython-input-8-30185b17b90a>:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_1950_2017['Player Name'] = df_1950_2017['Player Name'].str.replace('*','')

# We will look create a dataframe from 2000-2017 this is because the NBA was drastically different before 2000 than it is now. Literally a different century.

In [9]:
df_00_17 = df_1950_2017[df_1950_2017['Season Start'] > 1999]

In [10]:
# Function to convert columns from totals to per game averages
def total_to_pg(col):
    df_00_17[col] = (df_00_17[col])/(df_00_17['G'])
    return df_00_17[col]

In [11]:
df_00_17['PTS'] = total_to_pg('PTS')
df_00_17['TOV'] = total_to_pg('TOV')
df_00_17['STL'] = total_to_pg('STL')
df_00_17['BLK'] = total_to_pg('BLK')

<ipython-input-10-d980d75781d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_00_17[col] = (df_00_17[col])/(df_00_17['G'])
<ipython-input-11-6db9dfd169c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_00_17['PTS'] = total_to_pg('PTS')
<ipython-input-11-6db9dfd169c0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_00_17['TOV'] = total_to_pg('TOV')
<ipython-input-11-6db9dfd169c0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_00_17['BLK'] = total_to_pg('BLK')

In [12]:
df_00_17['TS%'] = df_00_17['TS%'].str.replace('%',' ').astype(float)
df_00_17['FTr'] = df_00_17['FTr'].str.replace('%',' ').astype(float)
df_00_17['FG%'] = df_00_17['FG%'].str.replace('%',' ').astype(float)
df_00_17['2P%'] = df_00_17['2P%'].str.replace('%',' ').astype(float)
df_00_17['eFG%'] = df_00_17['eFG%'].str.replace('%',' ').astype(float)
df_00_17['FT%'] = df_00_17['FT%'].str.replace('%',' ').astype(float)

<ipython-input-12-7efea477dc15>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_00_17['TS%'] = df_00_17['TS%'].str.replace('%',' ').astype(float)
<ipython-input-12-7efea477dc15>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_00_17['FTr'] = df_00_17['FTr'].str.replace('%',' ').astype(float)
<ipython-input-12-7efea477dc15>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_00_17['FG%'] = df_00_17['FG%'].str.replace('%',' ').astype(float)
<ipython-input-12-7efea477dc15>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_00_17['2P%'] = df_00_17['2P%'].str.replace('%',' ').astype(float)
<ipython-input-12-7efea477dc15>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_00_17['eFG%'] = df_00_17['eFG%'].str.replace('%',' ').astype(float)
<ipython-input-12-7efea477dc15>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_00_17['FT%'] = df_00_17['FT%'].str.replace('%',' ').astype(float)

In [13]:
agg_df = df_00_17.groupby('Season Start',as_index=False).agg(np.mean)
agg_df['Player Salary'].describe()

count    1.800000e+01
mean     5.026250e+06
std      8.972662e+05
min      3.714648e+06
25%      4.493702e+06
50%      5.089367e+06
75%      5.242859e+06
max      7.412623e+06
Name: Player Salary, dtype: float64

In [14]:
agg_df

,Season Start,Age,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,...,TRB,AST,STL,BLK,TOV,PF,PTS,Salary Cap,Player Salary,%SalaryCap
0,2000,27.473154,61.362416,30.587248,1511.003356,13.646644,50.785570,0.189242,29.227517,5.304027,...,252.734899,147.463087,0.794070,0.409065,1.430844,140.161074,9.371685,35500000.0,3.714648e+06,0.104638
1,2001,27.497159,59.105114,30.303977,1496.875000,13.560795,50.209375,0.177841,29.980114,5.489205,...,250.991477,141.670455,0.786135,0.438554,1.422181,134.193182,9.201810,42500000.0,3.900155e+06,0.091768
2,2002,27.283439,60.149682,31.888535,1536.707006,13.729299,50.510510,0.191516,27.750637,5.402548,...,254.248408,150.726115,0.787086,0.444574,1.379676,130.315287,9.505594,40271000.0,4.313967e+06,0.107123
3,2003,26.862876,60.006689,31.414716,1521.595318,13.397659,50.027425,0.194003,28.266221,5.232441,...,249.040134,145.979933,0.784041,0.400791,1.390627,130.270903,9.219373,43840000.0,4.058527e+06,0.092576
4,2004,27.100000,56.991176,30.494118,1464.179412,13.719706,50.097941,0.194556,28.272647,5.327647,...,241.567647,137.544118,0.805875,0.418165,1.421648,122.432353,9.375025,43870000.0,4.643654e+06,0.105850
5,2005,26.882022,56.530899,29.129213,1417.789326,13.352528,51.029213,0.215135,30.487079,5.297472,...,230.648876,135.168539,0.760433,0.370437,1.354354,128.081461,9.405071,49500000.0,4.670994e+06,0.094364
6,2006,26.291096,57.428082,29.794521,1471.571918,13.222603,51.401370,0.229021,31.386644,5.010959,...,233.308219,133.102740,0.702037,0.358857,1.319244,130.503425,9.345149,53135000.0,4.443718e+06,0.083631
7,2007,26.564189,60.209459,32.489865,1543.135135,13.761149,52.657095,0.236689,31.345270,4.981757,...,245.635135,144.972973,0.751575,0.397323,1.458429,133.962838,10.005300,55630000.0,5.251432e+06,0.094399
8,2008,26.951087,57.029891,30.081522,1420.377717,13.219837,51.767391,0.238538,28.204891,4.933696,...,242.385870,134.663043,0.701279,0.401870,1.291785,119.875000,9.306373,58680000.0,5.578331e+06,0.095064
9,2009,26.792746,56.813472,30.116580,1438.935233,13.417617,52.515026,0.248795,28.489119,5.148446,...,234.681347,130.023316,0.726235,0.391306,1.295600,119.621762,9.751123,57700000.0,5.217140e+06,0.090418
10,2010,26.186186,57.666667,30.084084,1454.552553,13.572973,52.569069,0.245868,28.760961,5.053453,...,242.615616,129.651652,0.728830,0.435738,1.283893,121.267267,9.780426,58044000.0,5.095503e+06,0.087787
11,2011,26.651948,56.119481,30.322078,1432.493506,13.597922,52.461039,0.265501,28.108571,4.781818,...,233.953247,138.114286,0.754427,0.413763,1.379919,115.919481,9.812256,58044000.0,5.484651e+06,0.094491
12,2012,26.517241,47.768025,25.238245,1179.137931,13.810345,51.346708,0.254903,25.938871,5.029154,...,198.175549,106.037618,0.759513,0.458021,1.356312,91.360502,9.423479,58044000.0,5.131778e+06,0.088412
13,2013,26.203966,58.827195,30.487252,1459.186969,14.113314,52.614448,0.270524,25.167705,5.105666,...,244.079320,142.104816,0.748824,0.441346,1.354955,114.121813,9.552066,58679000.0,5.083231e+06,0.086628
14,2014,26.427160,55.283951,27.624691,1335.743210,13.359506,52.444444,0.296425,26.205185,4.632099,...,225.422222,126.871605,0.706942,0.376676,1.313564,110.832099,9.199111,63065000.0,4.786287e+06,0.075895
15,2015,26.407563,52.506303,26.012605,1252.985294,13.419328,51.655882,0.311714,25.463655,4.406303,...,209.365546,121.731092,0.729958,0.357937,1.288438,101.497899,9.062440,70000000.0,5.159270e+06,0.073704
16,2016,26.769053,55.718245,27.429561,1319.937644,13.736721,52.745958,0.309746,26.412702,4.442956,...,230.173210,125.861432,0.713871,0.400209,1.256443,107.854503,9.236664,94143000.0,6.526590e+06,0.069326
17,2017,26.328859,55.351230,27.454139,1311.192394,13.578971,53.947651,0.335519,25.449664,4.385235,...,231.977629,123.485459,0.699395,0.413435,1.225345,106.789709,9.507813,99093000.0,7.412623e+06,0.074805

In [15]:
df_00_17.to_csv('Cleandf.csv', index = False)

In [16]:
df_00_17[df_00_17['Player Name'] == 'Allen Iverson']

,Season Start,Player Name,Pos,Age,Tm,G,GS,MP,PER,TS%,...,TRB,AST,STL,BLK,TOV,PF,PTS,Salary Cap,Player Salary,%SalaryCap
535,2001,Allen Iverson,SG,25.0,PHI,71.0,71.0,2979.0,24.0,51.8,...,273.0,325.0,2.507042,0.281690,3.338028,147.0,31.084507,42500000.0,11250000.0,0.264706
538,2004,Allen Iverson,SG,28.0,PHI,48.0,47.0,2040.0,19.3,47.8,...,178.0,324.0,2.395833,0.104167,4.354167,87.0,26.375000,43870000.0,14625000.0,0.333371
539,2005,Allen Iverson,PG,29.0,PHI,75.0,75.0,3174.0,23.2,53.2,...,299.0,596.0,2.400000,0.120000,4.586667,140.0,30.693333,49500000.0,16453125.0,0.332386
541,2007,Allen Iverson,SG-PG,31.0,TOT,65.0,64.0,2761.0,19.6,54.0,...,193.0,468.0,1.892308,0.200000,4.123077,95.0,26.292308,55630000.0,19012500.0,0.341767
542,2007,Allen Iverson,PG,31.0,PHI,15.0,15.0,640.0,23.5,52.9,...,41.0,109.0,2.200000,0.066667,4.400000,21.0,31.200000,55630000.0,19012500.0,0.341767
543,2007,Allen Iverson,SG,31.0,DEN,50.0,49.0,2121.0,18.4,54.5,...,152.0,359.0,1.800000,0.240000,4.040000,74.0,24.820000,55630000.0,19012500.0,0.341767
544,2008,Allen Iverson,SG,32.0,DEN,82.0,82.0,3424.0,20.9,56.7,...,243.0,586.0,1.951220,0.146341,2.987805,109.0,26.390244,58680000.0,20840625.0,0.355157
545,2009,Allen Iverson,PG-SG,33.0,TOT,57.0,53.0,2093.0,15.8,50.4,...,173.0,283.0,1.543860,0.105263,2.561404,86.0,17.456140,57700000.0,1029794.0,0.017847
546,2009,Allen Iverson,SG,33.0,DEN,3.0,3.0,123.0,15.2,54.9,...,8.0,20.0,1.000000,0.333333,3.333333,3.0,18.666667,57700000.0,1029794.0,0.017847
547,2009,Allen Iverson,PG,33.0,DET,54.0,50.0,1970.0,15.9,50.2,...,165.0,263.0,1.574074,0.092593,2.518519,83.0,17.388889,57700000.0,1029794.0,0.017847